<h1>Here is your booking information:</h1>

<h2>Event: <%= link_to @booking.event.name, event_path(@booking.event) %><br />
    Tickets: <%= @booking.tickets_booked %><br />

    Speaker: <%= link_to @booking.event.speaker.name, speaker_path(@booking.event.speaker) %><br />
    Venue: <%= link_to @booking.event.venue.name, venue_path(@booking.event.venue) %><br />
    Location: <%= @booking.event.venue.location %></h2>

<%= image_tag(@booking.event.event_image.medium.url) %>

<h3><%= @booking.event.short %></h3>


<% if can? :update, @booking %>
  <%= link_to('Edit', edit_booking_path(@booking), method: :get) %>
<% end %>

<% if can? :destroy, @booking %>
  <%= link_to('Delete', booking_path(@booking), method: :delete, data: {confirm: 'Delete this booking? Are you sure?!'}) %>
<% end %>
<br /><br />
<%= link_to 'Book', new_booking_path %> | <%= link_to 'Index', bookings_path %> | <%= link_to 'Back', :back %>
