<h1>List of all users</h1>

<% @users.each do |user| %>

  <h2>Name: <%= user.name %></h2>
  <h4>Company: <%= user.company %></h4>

  <%= link_to image_tag(user.user_image.thumb.url), user.user_image.medium.url %>

  <% if user.events.empty? == false %>
    <h3>List of events for this user:</h3>
      <ul>
        <% user.events.each do |event| %>
          <li><%= link_to event.name, event_path(event) %></li>
        <% end %>
      </ul>
  <% else %>
    <h4>New events for <%= user.name %> to be listed soon!</h4>
  <% end %>

  <%= link_to('Show', user_path(user)) %> <% if can? :update, user %><%= link_to('Edit', edit_user_path(user), method: :get) %><% end %> <% if can? :destroy, user %><%= link_to('Delete', user_path(user), method: :delete, data: {confirm: 'Delete this user? Are you sure?!'}) %><% end %>
  <br /><br />
  
<% end %>