<h1>List of all events</h1>

<% if can? :create, Event %>
  <%= link_to 'New event', new_event_path %>
<% end %>

<% @events.each do |event| %>

  <h2><%= link_to event.name, event_path(event)  %></h2>

  <%= link_to image_tag(event.event_image.thumb.url), event.event_image.medium.url %>

  <p><%= event.short %></p>

  <h4>Speaker: <%= link_to event.speaker.name, speaker_path(event.speaker) %><br />
      Venue: <%= link_to event.venue.name, venue_path(event.venue) %><br />
      Crowd: <%= link_to event.crowd.name, crowd_path(event.crowd) %><br />
      Tag: <%= link_to event.tag.name, tag_path(event.tag) %></h4>

  <% if can? :manage, :all %>
    <h4>Number of bookings: <%= event.bookings.count %><br />
        Actual tickets sold: <%= event.bookings.sum(:tickets_booked) %><br />
        Capacity left at venue: <%= event.venue.capacity - event.bookings.sum(:tickets_booked) %><br />
        Number of comments: <%= event.comments.count %></h4>

        <h3>List of booked users:</h3>
        <ul>
        <% event.users.each do |user| %>
            <li><h4><%= link_to image_tag(user.user_image.tiny.url), user %>&nbsp;&nbsp;<%= user.name %> (company: <%= user.company %>)</h4></li>
        <% end %>
        </ul>
    </h4>
  <% end %>

  <% if !can? :manage, :all %>
    <% if event.comments.empty? == false %>
      <h3>Here are some comments for this event:</h3>
        <ul>
          <% event.comments.sample(5).each do |comment| %>
            <li><h4><%= link_to image_tag(comment.user.user_image.tiny.url), comment.user %>&nbsp;&nbsp;<%= comment.user.name %> said:<br />"<%= comment.content %>"</h4></li>
          <% end %>
        </ul>
    <% end %>
   <% end %> 

  <%= link_to('Show', event_path(event)) %> <%= link_to('Book', new_booking_path) %> <% if can? :update, event %><%= link_to('Edit', edit_event_path(event), method: :get) %><% end %> <% if can? :destroy, event %><%= link_to('Delete', event_path(event), method: :delete, data: {confirm: 'Delete this event? Are you sure?!'}) %><% end %>
  <br /><br />
  
<% end %>