<h1>List of all events</h1>

<% if can? :create, Event %>
  <%= link_to 'New event', new_event_path %>
<% end %>

<% @events.each do |event| %>

  <h3><%= event.name %></h3>

  <%= link_to image_tag(event.event_image.thumb.url), event.event_image.medium.url %>

  <p><%= event.short %></p>

  <h4>Speaker: <%= link_to event.speaker.name, speaker_path(event.speaker) %><br />
      Venue: <%= link_to event.venue.name, venue_path(event.venue) %><br />
      Crowd: <%= link_to event.crowd.name, crowd_path(event.crowd) %><br />
      Tag: <%= link_to event.tag.name, tag_path(event.tag) %></h4>

  <%= link_to('Show', event_path(event)) %> <% if can? :update, event %><%= link_to('Edit', edit_event_path(event), method: :get) %><% end %> <% if can? :destroy, event %><%= link_to('Delete', event_path(event), method: :delete, data: {confirm: 'Delete this event? Are you sure?!'}) %><% end %>
  <br /><br />
  
<% end %>