<% if can? :create, Event %>
  <%= link_to 'New event', new_event_path %>
<% end %>

<h1><%= @event.name %></h1>

<% if can? :manage, :all %>
  <h4>Number of bookings: <%= @event.bookings.count %><br />
      Actual tickets sold: <%= @event.bookings.sum(:tickets_booked) %><br />
      Capacity left at venue: <%= @event.venue.capacity - @event.bookings.sum(:tickets_booked) %><br />
      Number of comments: <%= @event.comments.count %></h4>

      <h3>List of booked users:</h3>
      <ul>
      <% @event.users.each do |user| %>
          <li><h4><%= link_to image_tag(user.user_image.tiny.url), user %>&nbsp;&nbsp;<%= user.name %> (company: <%= user.company %>)</h4></li>
      <% end %>
      </ul>
  </h4>
<% end %>

<h2>Speaker: <%= link_to @event.speaker.name, speaker_path(@event.speaker) %><br />
    Venue: <%= link_to @event.venue.name, venue_path(@event.venue) %><br />
    Crowd: <%= link_to @event.crowd.name, crowd_path(@event.crowd) %><br />
    Tag: <%= link_to @event.tag.name, tag_path(@event.tag) %></h2>

  <%= image_tag(@event.event_image.medium.url) %>

<h3><%= @event.description %></h3>

<% if @event.comments.empty? == false %>
  <h4>Here are some comments on this event:</h4>
    <ul>
      <% @event.comments.each do |comment| %>
        <li><h4><%= link_to image_tag(comment.user.user_image.tiny.url), comment.user %>&nbsp;&nbsp;<%= comment.user.name %> said:<br />"<%= comment.content %>"</h4></li>

      <% if can? :update, comment %>
        <%= link_to('Edit', edit_comment_path(comment), method: :get) %>
      <% end %>

      <% if can? :destroy, comment %>
        <%= link_to('Delete', comment_path(comment), method: :delete, data: {confirm: 'Delete this comment? Are you sure?!'}) %>
      <% end %>

      <% end %>
    </ul>
<% else %>
  <h4>Would you like to add a comment for this event? Just use the form below</h4>
<% end %>

<% if current_user %>
  <%= form_for(@comment) do |f| %>
    <div class="field">
      <%= f.label :content, 'Add a comment' %><br />
      <%= f.text_area :content, rows: 6 %>
    </div>
    <div class="field">
      <%= f.hidden_field :event_id, value: @event.id %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Add comment" %>
    </div>
  <% end %>
<% end %>
<br /><br />
  <% if can? :update, @event %>
    <%= link_to('Edit', edit_event_path(@event), method: :get) %>
  <% end %>

  <% if can? :destroy, @event %>
    <%= link_to('Delete', event_path(@event), method: :delete, data: {confirm: 'Delete this event? Are you sure?!'}) %>
  <% end %>

<%= link_to 'Index', events_path %>
<%= link_to 'Back', :back %>
