<%= form_for(@crowd) do |f| %>
  <% if @crowd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crowd.errors.count, "error") %> prohibited this Crowd from being saved:</h2>

      <ul>
        <% @crowd.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Crowd name' %><br />
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :group, 'Group' %><br />
    <%= f.text_field :group %>
  </div>
  <br />
  <div class="field">
    <%= f.label :description, 'Description' %><br />
    <%= f.text_area :description, rows: 20 %>
  </div>
  <br />
  <div class="field">
    <%= f.label :crowd_image, 'Crowd image' %><br />
    <%= f.file_field :crowd_image %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>