<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this Venue from being saved:</h2>

      <ul>
        <% @venue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Venue name' %><br />
    <%= f.text_field :name %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :description, 'Description' %><br />
    <%= f.text_area :description, rows: 20 %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :location, 'Location' %><br />
    <%= f.text_field :location %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :capacity, 'Capacity' %><br />
    <%= f.number_field :capacity %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :colour, 'Colour' %><br />
    <%= f.text_field :colour %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :venue_image, 'Venue image' %><br />
    <%= f.file_field :venue_image %>
  </div>
  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>