<%= form_for(@speaker) do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this Speaker from being saved:</h2>

      <ul>
        <% @speaker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Speaker name' %><br />
    <%= f.text_field :name %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :email, 'Email' %><br />
    <%= f.email_field :email %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :twitter, 'Twitter' %><br />
    <%= f.text_field :twitter %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :company, 'Company' %><br />
    <%= f.text_field :company %>
  </div>
  <br /><br />
  <div class="field">
    <%= f.label :speaker_image, 'Speaker image' %><br />
    <%= f.file_field :speaker_image %>
  </div>
  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>