<!DOCTYPE html>
<html>
<head>
  <title>CrowdConf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="notice"><%= notice %></h1>
<h1 class="alert"><%= alert %></h1>

<div class="login">
  <% if current_user %>
    <%= current_user.email %>
    <br>
    <%= link_to "log out", destroy_user_session_path, method: :delete %> | <%= link_to "edit profile", edit_user_registration_path, method: :get %>
  <% else %>
    <%= link_to "sign in", new_user_session_path %>
    <%= link_to "register", new_user_registration_path %>
  <% end %>
</div>

<nav>
  <ul>
    <li> <%= link_to 'bookings', bookings_path %> </li>
    <li> <%= link_to 'events', events_path %> </li>
    <li> <%= link_to 'users', users_path %> </li>
    <li> <%= link_to 'crowds', crowds_path %> </li>
    <li> <%= link_to 'venues', venues_path %> </li>
    <li> <%= link_to 'speakers', speakers_path %> </li>
    <li> <%= link_to 'tags', tags_path %> </li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
